

$grayColorBorder: #C6C6C6;
$grayColorInside: #808080;
$blackColor: #202020;
$redColor: #FA2C2C;
$greenColor: #289b38;


@mixin disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

@mixin align-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body {
  height: 100%;
  overflow-x: hidden;
}

.products_container {
  min-height: 300px;
  position: relative;
  display: block;
}

.display_products_container {
  min-height: 350px;
  min-width: 250px;
  position: relative;
  margin-top: 30px;
  padding: 0 15px 15px 15px;
}


/* Products navigation */

.nav_path_cont {
  position: relative;
  min-height: 30px;
  margin: 33px 0 0 0;
  padding: 10px 0 30px 0;
  font-size: 15px;
}

.nav_path_cont a {
  text-decoration: none;
}

.nav_path_home {
  margin: 0 3px 0 3px;
  min-height: auto;
}

.nav_viewprod_path {
  margin-top: 0;
  margin-bottom: 20px;
  word-break: break-all;
  position: relative;
}

.d_prodcont_sec {
  min-height: 350px;
}


/* Products nav header title */

.prod_nav_head_title {
  min-height: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  span:nth-child(1) {
    font-weight: bold;
    font-size: 23px;
    word-break: break-all;
  }
  span:nth-child(2) {
    color: $grayColorInside;
    font-size: 16px;
  }
}


/* RIGHT FILTER CONTAINER */

.d_prodcont_right_filterswrap {
  min-width: 100%;
  max-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mob_prodcont_filters_close {
  display: none;
}

@media screen and (max-width: 767.5px) {
  .d_prodcont_right_filterswrap {
    transition: 0.1s;
    align-items: flex-start;
    max-width: 0;
    min-width: 0;
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    z-index: 3;
    padding: 20px 0 20px 0;
  }
  .mob_prodcont_filters_close {
    position: relative;
    display: inline-block;
    min-height: 30px;
    min-width: 100%;
    margin-bottom: 20px;
    .mob_prodcont_fil_results {
      position: absolute;
      display: inline-block;
      height: 30px;
      min-width: 140px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      background-color: $greenColor;
      color: #fff;
      font-size: 14px;
      padding-top: 3px;
      cursor: pointer;
      transition: 0.2s ease-in;
      &:hover {
        background-color: #248E33;
      }
    }
    svg {
      float: right;
      font-size: 35px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.right_filwrap_mob_display {
  min-width: 230px;
  max-width: 100%;
  padding: 20px;
}


/* Active box filters */

.d_prodcont_active_filters {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 280px;
  max-width: 100%;
  margin-bottom: 10px;
}

.d_prodcont_actfil_title {
  position: relative;
  width: 100%;
  padding: 1.5px 0 0 15px;
  font-size: 13.5px;
  height: 25px;
  background-color: #fff;
  border: 1px solid $grayColorBorder;
  span {
    color: $grayColorInside;
    margin-left: 5px;
  }
  .d_prodcont_removefilters_all {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    &:hover {
      color: #035DBD;
    }
  }
}

.d_pc_acfil_fil {
  width: 100%;
  padding: 3px 0 3px 15px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid $grayColorBorder;
  border-top: 0;
  cursor: pointer;
  transition: 0.1s;
  svg {
    font-size: 16px;
    margin-right: 10px;
    margin-top: -3px;
    transition: 0.1s;
    color: $redColor;
  }
  &:hover {
    background-color: #F9F9F9;
  }
}

.d_prodcont_filter_panel {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-height: 35px;
  width: 280px;
  max-width: 100%;
  border: 1px solid $grayColorBorder;
  background-color: #fff;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.5px) {
  .d_prodcont_filter_panel,
  .d_prodcont_active_filters {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .d_prodcont_filter_panel,
  .d_prodcont_active_filters {
    width: 250px;
  }
}

.dprodcont_wrap_filter_names {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grayColorBorder;
  padding-top: 5px;
  margin: 3px 0 5px 0;
  transition: .1s ease-in;
  max-height: 500px;
  overflow: hidden;
}

.filter_panel_hide {
  margin: 0;
  max-height: 0;
  border: 0;
}

.d_prodcont_filter_title {
  position: relative;
  min-width: 100%;
  font-weight: bold;
  font-size: 17px;
  margin: 5px 0 0 0;
  padding-left: 15px;
  img {
    @include align-y;
    width: 20px;
    height: 20px;
    right: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  .img_fil_arrow_active {
    transform: rotate(-90deg);
    top: 3px;
  }
}

.d_prodcont_filter_box {
  width: 100%;
  height: 25px;
  padding-left: 15px;
  @include disable-select;
  label {
    font-size: 13.5px;
    &:hover {
      cursor: pointer;
      .custom-control-label::before {
        border: 1px solid #007bff !important;
      }
    }
  }
  .d_prodcont_filter_checkbox {
    position: relative;
    margin-left: 7px;
    height: auto;
  }
  .custom-control-label::before {
    top: .07rem;
  }
  .custom-control-label::after {
    top: .10rem;
  }
  .prod_fil_no {
    margin-left: 7px;
    color: $grayColorInside;
  }
}

.custom-checkbox .custom-control-label::before {
  border-color: #cccccc !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media screen and (max-width:767.5px) {
  .d_prodcont_filters {
    display: none;
  }
}

.active_mob_filter {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100%;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.5);
}


/* DISPLAY PRODUCTS CONTAINER */

.d_prodcont_displayproducts {
  width: 100%;
  max-width: 1335px;
  min-width: auto;
  position: relative;
}

.dp_wrap_page_no {
  font-family: Arial;
  font-size: 15px;
  position: relative;
  position: absolute;
  top: 5px;
  left: 0;
}


/* Loading filter effect */

.d_pc_dp_load_filder_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  opacity: 0.6;
  z-index: 2;
}

.dp_wrap_prod_wrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 100%;
  min-height: 725px;
}

.d_product_card {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 325px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 80px;
  flex-basis: 50%;
  height: auto;
  padding: 8px;
  margin-top: 3px;
  transition: 0.2s;
  .prod_wishlist_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      font-size: 22px;
      color: $redColor;
    }
  }
  .dprod_removefromwishlist_btn {
    color: $redColor;
  }
  .prod_imgprof_link {
    position: relative;
    align-self: center;
    align-items: center;
  }
  img {
    width: 100%;
    height: auto;
    max-height: 250px;
    max-width: 250px;
  }
  .dprod_c_name {
    width: 100%;
    font-size: 14px;
    max-height: 22px;
    overflow: hidden;
  }
  .dprod_outofstock {
    font-size: 15px;
    color: $redColor;
  }
  .dprod_new_icon {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: -5px;
    width: 40px;
    height: 20px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    background-color: $greenColor;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    @include disable-select;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-color: transparent $greenColor transparent transparent;
      border-style: solid;
      border-width: 0 5px 5px 0;
      position: absolute;
      left: -.10px;
      bottom: -4.5px;
    }
  }
  .dprod_c_price {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: $redColor;
    font-family: Arial;
    font-size: 17px;
    width: 100%;
    .dprod_c_actprice {
      margin-right: 5px;
    }
    .dprod_c_oldprice {
      font-size: 14px;
      text-decoration: line-through;
      color: $blackColor;
      font-weight: normal;
      align-self: center;
    }
  }
  .dprod_c_colors {
    position: relative;
    width: 100%;
    height: 13px;
    display: flex;
    margin-top: 2px;
    .dprod_avail_colors {
      height: 10px;
      width: 10px;
      margin-right: 3px;
      border-radius: 50%;
    }
  }
  .dprodc_colors_morecolorsno {
    font-size: 12px;
    height: 15px;
    line-height: 12px;
    text-align: center;
    font-family: Arial;
    margin-left: 8px;
    font-weight: bold;
  }
}

@media screen and (max-width: 400px) {
  .d_prodcont_displayproducts {
    padding: 0;
  }
  .d_product_card {
    .dprod_c_price {
      font-size: 15px;
    }
    .dprod_c_oldprice {
      font-size: 13px !important;
    }
    .dprod_c_name {
      width: 100%;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 520px) {
  .dp_wrap_prod_wrapper {
    min-height: auto;
  }
}

@media screen and (min-width: 520px) and (max-width: 635.5px) {
  .dp_wrap_prod_wrapper {
    justify-content: flex-start;
  }
  .d_product_card {
    max-width: 45%;
    flex-basis: 45%;
    margin: 0 3px 0 3px;
  }
}

@media screen and (min-width:635px) and (max-width: 767.5px) {
  .d_product_card {
    max-width: 33.3%;
    flex-basis: 33.3%;
  }
}

@media screen and (min-width:870px) and (max-width: 1099.5px) {
  .dp_wrap_prod_wrapper {
    justify-content: start;
  }
  .d_product_card {
    max-width: 33.3%;
    flex-basis: 33.3%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1249.5px) {
  .d_product_card {
    max-width: 31%;
    flex-basis: 31%;
  }
}

@media screen and (min-width: 1250px) {
  .d_product_card {
    max-width: 25%;
    flex-basis: 25%;
  }
}

.wrap_prod_noresults_msg {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  min-height: 60px;
  border: 1px solid $grayColorBorder;
  display: flex;
  flex-direction: column;
  span {
    width: auto;
    border-bottom: 1px solid $grayColorBorder;
    align-self: center;
    padding-bottom: 10px;
  }
}


/* PAGINATION */

.rp_wrap_pagination {
  min-height: auto;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid $grayColorBorder;
  margin-top: 30px;
  align-items: center;
}

.pag_active {
  font-weight: bold;
  border-bottom: 1px solid $blackColor !important;
  pointer-events: none;
  cursor: default;
}

.pagination {
  .page-link {
    color: $blackColor;
    border: none;
    background-color: inherit;
    font-size: 17px;
    margin: 0 2px 0 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.2s;
    @include disable-select;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $blackColor;
      font-weight: bold;
    }
  }
  .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .page_link_arrow:active {
    transform: scale(1.05);
    font-size: 17.5px;
  }
}


/* Filter and order */

.head_filterorder_div {
  position: relative;
  display: block;
  min-height: 30px;
  border-top: 1px solid $grayColorBorder;
  min-width: 250px !important;
  margin-bottom: 20px;
  padding-top: 15px;
  z-index: 3;
}

.h_filord_cont {
  height: 30px;
}


/* Filter mobile button */

.h_filter_cont {
  min-width: 80px !important;
}

.h_mobile_filter_button {
  position: relative;
  cursor: pointer;
  width: 100px;
  max-width: 100%;
  height: 30px;
  margin-left: 2px;
  padding-left: 10px;
  background-color: #fff;
  @include disable-select;
  border: 1px solid $grayColorBorder;
  .bi-caret-down-fill {
    margin-left: 5px;
  }
}

.hmob_fil_act_no {
  position: absolute;
  background-color: $redColor;
  height: 20px;
  width: 20px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  border-radius: 40%;
  top: -12px;
  left: -7px;
  color: #fff;
}

.h_mobile_filter_button:hover .bi-caret-down-fill {
  color: $grayColorInside;
  transition: 0.2s;
}

.h_mobile_filter_button .bi-filter {
  color: $grayColorInside;
}

.h_mobile_filter_button .fhilter_mob_txt {
  font-size: 13px;
  font-weight: bold;
  margin-left: 2px;
}


/* Filter text results */

.h_filter_results_cont {
  text-align: center;
  font-size: 14px;
  text-align: center;
  font-family: Arial;
  padding-top: 4px;
}


/* Order by button */

.h_order_cont {
  overflow: hidden;
}

.h_orderby_button {
  position: relative;
  height: 30px;
  background-color: #fff;
  width: 200px;
  margin-right: 2px;
  max-width: 100%;
  border: 1px solid $grayColorBorder;
  @include disable-select;
  cursor: pointer;
  &:hover svg {
    color: $grayColorInside;
  }
  svg {
    margin-left: 5px;
  }
}

.horderby_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}


/* Order by dropbown */

.sort_by_dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2px;
  bottom: -176px;
  width: 200px;
  height: 175px;
  background-color: #fff;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  border: 1px solid $grayColorBorder;
}

.sort_by_dropdown .custom-control {
  display: flex;
  height: 30px;
  font-size: 14px;
  padding: 2px 0 0 33px;
  border-radius: 3px;
  width: 180px;
  cursor: pointer;
  transition: 0.1s;
  @include disable-select;
}

.sort_by_dropdown .custom-control:hover {
  background-color: $grayColorBorder;
}

.sortbycaret_active {
  transform: rotate(-180deg);
  transition: 0.2s;
}


/* __ SEARCH PRODUCTS __ */

.search_loading_eff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-height: 350px;
  margin-top: 50px;
  .slef_search_title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
  }
  .slef_search_key {
    font-size: 17px;
    font-style: italic;
  }
}

