

$grayColorBorder: #C6C6C6;
$grayColorInside: #808080;
$blackColor: #202020;

@mixin disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

@mixin align-y {
	position: absolute;
	top:50%;
	transform:translateY(-50%);
}

@media screen and (max-width:575.5px) {
	.hsc_col_logo {
		order:2;
		min-width: 250px !important;
		padding-bottom: 5px;
	}
	.hsc_col_acc {
		order:1;
	}
	.hsc_col_logo_hambmenu {
		display: block !important;
	}
	.hsc_col_logo_img {
		margin-left:60px !important;
	}
	/* Header account icons */

	.hsc_col_acc {
		height: 48px !important; 
		background-color: $blackColor;
		margin-top:8px !important;
	}
	.hsccol_acc_cont { 
	height: 100% !important;
	margin-top:9px;
	}
	.hsc_col_acc .hsccol_acc_icon {
		margin:0 5px 0 5px;
		width: 30px !important;
		height: 30px !important;


	}
	.hsscol_fav_icon_no,
	.hsscol_cart_icon_no {
		top:-5px !important;
		right: -5px !important;
		width: 13px !important;
		height: 13px !important;
		font-size: 8px !important;
	}
	/* Nav menu div */
	.head_nav_menu {
		display: none !important;
	} 
}

@media screen and (max-width:991.2px) {
	.nav_m_search {
		display: none !important;
	}
	 
}

.header_container {
	position: fixed;
	top:0;
	left:0;
	display: block;
	min-height: 130px;
	background-color: #fff;
	z-index: 3;
}

.head_hr {
	margin:4px 0 4px 0;
}

/* Search mobile dropdown div */
.search_mobile_dropdown {
	display: flex;
	flex-direction: column;
	position: fixed;
	top:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.7);
	height: 0;
	display: block;
	z-index: 2;
	text-align: center;
	overflow: hidden;
	transition: 0.3s ease-out;
 
}
.smdrop_close {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	right: 10px;
	top:17px;
	z-index: 3;
	cursor: pointer;
	height: 45px;
}
.smdrop_close:hover {
	color: $grayColorBorder;
}
.smdrop_wrap_input {
	position: relative;
	display: inline-block;
	overflow: hidden;
	min-height: 65px;
	background-color: $blackColor;
	padding:15px 0 10px 0;
	min-width: 280px !important;
	margin-top:34px;
}
.smdrop_title {
	color: #fff;
	font-size: 17px;
}
 
.search_mobile_dropdown input {
	position: relative;
	height: 35px;
	padding:0 10px 0 10px;
	border:none;
	border-bottom: 2px solid $grayColorInside;
	margin-top:5px;
	background-color: $blackColor;
	color: $grayColorInside;

}
.smdrop_buttons {
	display: inline-block;
	height: 35px;
	margin-top:25px;

}
.smdrop_buttons .smdrop_butt {
	height: 30px;
	border:1px solid #fff;
	color: #fff;
	padding:4px 10px 4px 10px;
	font-size: 13px;
	cursor: pointer;
	@include disable-select;
	border-radius: 3px;
	transition: 0.2s;

}
.smdrop_buttons .smdrop_butt:hover {
	color: $grayColorBorder;
}
/* Social media col */

.header_social_col {
	position: relative;
	display: inline-block;
	height: 25px;
	overflow: hidden;
}
.header_social_col .fa-facebook, .fa-instagram {
	margin:0 3px 0 3px;
	cursor: pointer;
}
.header_social_col .fa-phone, .fa-whatsapp {
	font-size: 13px;
	margin:0 3px 0 10px;
	color: #424242;
}
.header_social_col .h_social_phone, .h_social_whatapp {
	font-size: 11px;
	font-weight: bold;
	color: #424242;
}

.header_social_col .fa-facebook:hover  {
	color: #333CEC;
}
.header_social_col .fa-instagram:hover  {
	color: #711DC0;
}
/* FIRST SECTION / LOGO & ACCOUNT INFO */

.head_sect_one {
	position: relative;
	display: inline-block;
	min-height: 55px;
 
}


/* Header sec one logo */

.hsc_col_logo {
	display: inline-block;
 
}
.hsc_col_logo_img {
	border:solid $grayColorInside;
	padding: 10px;
	border-radius: 5px;
	margin:8px 0 3px 14px;
	font-weight: bold;
}
.hsc_col_logo_hambmenu {
	display: none;
	position: absolute;
	height: 35px;
	width: 40px;
	border:1px solid #000;
	color: #000;
	left:10px;
	top:50%;
	transform: translateY(-50%);
	border-radius: 4px;
}
.hsc_col_logo_hambmenu i {
	position: absolute;
	font-size: 25px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.hsc_col_search_mobile {
	font-size: 23px;
	height: 33px;
	right:30px;
	margin-top:3px;
	cursor: pointer;
	transition: 0.1s;
	@include align-y;
}
.hsc_col_search_mobile:hover {
	color: $grayColorInside;
}

/* User / Fav / Cart Header Icons */

.hsc_col_acc {
	overflow: hidden;
	min-width: 250px !important;
	margin:0;
}

.hsccol_acc_cont {
	display: inline-block;
	position: relative;
	min-width: auto;
	height: 55px;
 	padding:0 30px 0 20px;
	margin-right: 20px;
}

/* Header Icons */


.hsccol_acc_icon {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border:1px solid $grayColorBorder;
	margin:7px 5px 0 5px;
	cursor: pointer;
 
}
.hsccol_acc_icon i {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 17px;
	color: $grayColorInside;

}
.hsccol_acc_icon:hover i {
	color: #3B89F4;
}

.hsscol_fav_icon_no,
.hsscol_cart_icon_no {
	position: absolute;
	top:-5px;
	right: -5px;
	background-color: #FA2C2C;
	width: 20px;
	height: 15px;
	border-radius: 40%;
	text-align: center;
	color: #fff;
	font-size: 9px;
}

/* Head nav menu */

.head_nav_menu {
	position: relative;
	display: inline-block;
	border:1px solid black;
	height: 49px;
	background-color: $blackColor;
}
.nav_menu_link {
	font-weight: bold;
	text-transform: uppercase;
	margin:10px;
	cursor: pointer;
	color: #fff;
}
.nav_menu_link:hover {
	color: $grayColorInside;
}

/* Search icon on medium breakpoint */
.nav_m_search_med {
	display: block;
	right:20px;
	position: absolute;
	color: #fff;
	font-size: 23px;
	padding: 4px;
	@include align-y;
	cursor: pointer;
	transition: 0.1s;
}
.nav_m_search_med:hover {
	color: $grayColorInside;
}


/* Search input on medium braeakpoint */
.nav_search_medium_input {
	display: block;
	position: absolute;
	width: 0;
	height: 45px;
	background-color: $blackColor;
	right: 60px;
	bottom: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	transition: 0.3s ease-in;
	z-index: 1;
}

.nav_search_medium_input input {
	position: absolute;
	right: 0;
	border:0;
	@include align-y;
}

/* Search input on large breakpoint */

.nav_m_search {
	right:0;
	position: absolute;
	display: none;
}
.nav_m_search .fa-search {
	color: #fff;
}


