
body {
	scroll-behavior: smooth;
	  font-family: 'Playfair Display', serif;
}

.main_container {
	position: relative;
	display: block;
	min-height: 100vh;
	margin-top:142px;
	background-color: #ECECEC;
}

/* Navigation cont */

.nav_path_cont {
	height: 30px;
	margin:25px 0 20px 0;
	padding:10px 10px 30px 0;
	font-size: 14px;
 
}
.nav_path_cont a {
	text-decoration: none;
}
.nav_path_home {
	margin:0 3px 0 3px;
}

